a{
    text-decoration: none!important;
}
.input-group{
    width: 50% !important;
    margin: auto !important;

}
.input-bt{
    margin-left: 45%;
}
.globalError{
    background-color: yellow;
    color: red;
    position:absolute;
    left:0;
}
img{
    margin: 1%;
} 